<!DOCTYPE html>
<html>

   <head>
      <title>FCC Backend Challenges | Timestamp MS</title>
      <link rel="shortcut icon" href="https://cdn.hyperdev.com/us-east-1%3A52a203ff-088b-420f-81be-45bf559d01b1%2Ffavicon.ico" type="image/x-icon"/>
      <link href="https://fonts.googleapis.com/css?family=Roboto" rel="stylesheet" type="text/css">
      <link href="/public/style.css" rel="stylesheet" type="text/css">
   </head>

   <body>
      <div class="container">
        
         <h1>API Backend Challenge</h1>
         <h2>Timestamp microservice</h2>
        <br>
        
        <div class="main">
          <h3>
            Example usage:
          </h3>
        
          <code>
            https://jm-timestamp.glitch.me/November%2010,%202017
          </code><br>
          <code>
            https://jm-timestamp.glitch.me/1510272000
          </code>
          <br>
        
          <h3>
            Example output:
          </h3>
        
          <code>
            { "unix": 1510272000, "natural": "November 10, 2017" }
          </code>
        </div>
        
      </div>
   </body>

</html>